<h1>Список сохраненных Gists</h1>

<div class="table-responsive">
  <table class="table mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Пользователь</th>
        <th>Вопрос</th>
        <th>Gist ссылка</th>
      </tr>
    </thead>

    <%= render @gists %>
  </table>
</div>
