<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p>
  <% if @test_passage.test_passed? %>
    <%= raw t('.success', percentage_success: @test_passage.percentage_success) %>
  <% else %>
    <%= raw t('.failed', percentage_success: @test_passage.percentage_success) %>
  <% end %>
</p>

<%= link_to t('.back'), tests_path %>
