<footer>
  <hr>
  <p><%= current_year %></p>
  <p>Автор: <a href="https://github.com/carboninc" target="_blank">Александр Моргунов</a></p>
  <p>Проект: <a href="<%= github_url("carboninc", "TestGuru") %>" target="_blank"> TestGuru</a></p>
  <p>Описание проекта: TestGuru - приложение для создания, управления и выполнения различных тестов</p>
  <p><a href="https://thinknetica.com" target="_blank">Учебный проект в онлайн-школе Thinknetica</a></p>
  <hr>
</footer>
