<footer class="footer fixed-bottom bg-dark text-light" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <p>
      Описание проекта: TestGuru - приложение для создания, управления и выполнения различных тестов 
    </p>
    <hr>
    <span class="text-muted">
      <%= current_year %> | 
      Автор: <%= github_url_profile("carboninc", "Александр Моргунов") %> | 
      Проект: <%= github_url("carboninc", "TestGuru") %> | 
      <a href="https://thinknetica.com" target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
    </span>
  </div>
</footer>
