<footer>
  <hr>
  <p><%= current_year %></p>
  <p>Автор: <%= github_url_profile("carboninc", "Александр Моргунов") %></p>
  <p>Проект: <%= github_url("carboninc", "TestGuru") %></a></p>
  <p>Описание проекта: TestGuru - приложение для создания, управления и выполнения различных тестов</p>
  <p><a href="https://thinknetica.com" target="_blank">Учебный проект в онлайн-школе Thinknetica</a></p>
  <hr>
</footer>
