<h1>Тесты</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Тест</th>
    <th>Кол-во вопросов</th>
    <th>Уровень сложности</th>
    <th>Категория</th>
    <th colspan="3">Действия</th>
  </tr>

  <%= render @tests %>

</table>
