<h1><%= t('tests.index.header') %></h1>

<table>
  <tr>
    <th>ID</th>
    <th>Тест</th>
    <th>Кол-во вопросов</th>
    <th>Уровень сложности</th>
    <th>Категория</th>
    <th>Действия</th>
  </tr>

  <%= render @tests %>

</table>
