<h1><%= @test.title %></h1>

<h3>Вопросы теста:</h3>

<%= link_to 'Создать новый вопрос', new_test_question_path(@test) %>

<table>
  <tr>
    <th>ID</th>
    <th>Вопрос</th>
    <th colspan="3">Действия</th>
  </tr>

  <%= render @test.questions %>
</table>


